* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 98%;
}

.card-wrapper {
  overflow: hidden;
  display: flex;
  border-radius: 15px;

  width: 60%;
  height: 400px;

  max-width: 600px;

  background-color: white;
}

.left-portion {
  width: 50%;

  background-position: center;
  background-size: cover;
  background-image: url("../../images/image-product-desktop.jpg");
}

.right-portion {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  padding: 20px;
  width: 50%;
  height: 100%;
}

.product-category {
  justify-self: flex-start;
  font-size: 12px;
}

.product-name {
  text-align: left;
  font-size: 28px;
}

.product-price {
  display: flex;
  align-items: center;
}

.new-price {
  color: hsl(158, 36%, 37%);
  margin-right: 15px;
}

.old-price {
  text-decoration: line-through;
  font-size: 12px;
}

.add-to-cart-button {
  align-self: center;

  display: flex;
  justify-content: center;

  color: white;
  text-align: center;

  width: 100%;

  padding: 10px 0;

  border-radius: 7px;

  text-decoration: none;
  background-color: hsl(158, 36%, 37%);
}

.add-to-cart-button:hover {
  background-color: hsl(158, 36%, 20%);
}

.cart-icon {
  margin-right: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 750px) {
  .card-wrapper {
    flex-direction: column;

    width: 300px;
    height: 600px;
  }

  .left-portion {
    background-position: center;
    background-size: cover;
    background-image: url("../../images/image-product-mobile.jpg");
    width: 100%;
    height: 40%;
  }

  .right-portion {
    height: 60%;
    width: 100%;
  }

  .right-portion > * {
    width: 100%;
  }
}
